h1{
   background-color: aqua; 
}
.first{
    background-color: blue;
}
h2{
    background-color: rgb(11, 70, 51);
}
.second{
    background-color: blueviolet;
}
ol{
    background-color: cornsilk;
}
li:nth-child(1) {
    color: red;
}
  
li:nth-child(2) {
    color: blue;
}
  
li:nth-child(3) {
    color: green;
}
  
li:nth-child(4) {
    color: purple;
}
  
li:nth-child(5) {
    color: brown;
}

body {
    background-color: blanchedalmond;
  }
  
